body {
    background-color: lightgray;
}
h1 {
    color: red;
    text-align: center;
}
p {
    font-size: 18px;
    line-height: 1.5;
}
a {
	color: blue;
	text-decoration: none;
}
a:hover {
	color: red;
}
img {
	width: 200px;
	display: block;
	margin: 20px auto;
	border-radius: 5px;
}